#welcome{
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#welcome > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
}

#welcome > div h1{
    font-weight: 700;
    color: white;
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0px;
    margin-left: 0.5rem;
}

#welcome > div h2{
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1rem;
}

#welcome > h3{}