@import "_custom.css";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --c-primary: #999C7B;
  --c-primary-light: #F5D09C;
  --c-secondary: #424242;
  --dark: #212121;
  --dark-2: #707070;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Cormorant Garamond', serif;
  --terciary-font: 'Cormorant Garamond', serif;
}
::placeholder{
  color: inherit !important;
}
body{
  font-family: var(--primary-font);
  color: #212121;
  overflow-x: hidden !important;
  width: 100vw;
  touch-action: pan-y;
}
.f-primary{
  font-family: var(--primary-font);
}
.f-secondary{
  font-family: var(--secondary-font);
}
.f-terciary{
  font-family: var(--terciary-font);
}
.cut-1 {
  background: url('http://eventdate.test/img/templates/chic/cut-1.svg') no-repeat center bottom;
  background-size: 100%;
  height: 186px;
}
.cut-2 {
  background: url('http://eventdate.test/img/templates/chic/cut-2.svg') no-repeat center bottom;
  background-size: 100%;
  height: 171px;
}
.cut-3 {
  background: url('http://eventdate.test/img/templates/chic/cut-3.svg') no-repeat center bottom;
  background-size: 100%;
  height: 171px;
}
.c-primary{
  color: var(--c-primary) !important;
}
.c-secondary{
  color: var(--c-secondary) !important;
}
.bg-dark{
  background-color: var(--dark);
}
.bg-primary{
  background-color: var(--c-primary) !important;
}
.bg-primary-light{
  background-color: var(--c-primary-light) !important;
}
.bg-secondary{
  background-color: var(--c-secondary) !important;
}
.bg-gray{
  background-color: var(--dark-2) !important;
}
.bg-green {
  background-color: #7C8F90;
}
.bg-green-2 {
  background-color: #ced3d1;
}
.bg-green-light {
  background-color: #8C8C8C;
}
.bg-green-dark {
  background-color: #8C8C8C;
}
.text-red {
  color: #F66;
}
.accordion-button:not(.collapsed) {
  background: white;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  box-shadow: none !important;
}
.tns-controls {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"] {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  height: 24px;
  padding: 0;
  position: absolute;
  width: 24px;
}
.tns-controls [data-controls="prev"] {
  background-image: url('https://emidica.com/img/icos/ico-arrow-prev.svg');
  left: -6px;
}
.tns-controls [data-controls="next"] {
  background-image: url('https://emidica.com/img/icos/ico-arrow-next.svg');
  right: -6px;
}
.nav-pills .nav-link.active {
  background: #fff;
  color: #333333;
}
.nav-pills .nav-link {
  color: #333;
}
[class*="leaves-"]{
  width: 400px;
  max-width: 100%;
}
.leaves-1,
.leaves-2{
  width: 480px;
  max-width: 100%;
}
.leaves-1 {
  top: -130px;
  right: -10vw;  
}
.leaves-2 {
  top: 55vh;
  left: -170px;
}
.leaves-3 {
  bottom: -200px;
  right: -190px;
}
.leaves-4 {
  bottom: -360px;
}
.leaves-5 {
  bottom: -150px;
  left: -181px;
}
.leaves-6 {
  top: -240px;
  right: -180px;
}
.leaves-7 {
  top: -230px;
  left: -220px;
}
.leaves-8 {
  top: -130px;
  right: -150px;
}
.invert{
  transform: scaleX(-1);
}
@media (max-width: 767px) {
  .leaves-1 {
    width: 250px;
    top: -80px;
    right: -26vw;
  }
  .leaves-2 {
    bottom: -130px;
    top: inherit;
    width: 250px;
    left: -100px;
  }
  .leaves-3 {
    width: 250px;
    bottom: -120px;
    right: -140px;
  }
  .leaves-4 {
    bottom: -100px;
    top: inherit;
    width: 200px;
  }
  .leaves-5 {
    top: inherit;
    width: 250px;
    bottom: -150px;
    left: -161px;
  }
  .leaves-6 {
    top: -100px;
    width: 250px;
    right: -115px;
  }
  .leaves-7 {
    width: 250px;
    top: -170px;
    left: -150px;
  }
  .leaves-8{
    width: 250px;
  }
  .cut-1 {
    background-size: auto 100%;
  }
  .cut-2 {
    background-size: auto 100%;
  }
  .cut-3 {
    background-size: auto 100%;
  }
}

#photos #tns2-mw{
  background-color: white;
  padding: 25px;
}

.decoration{
  pointer-events: none;
}

#photos img{
  max-height: 525px;
  width: auto;
  height: 70vh;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  #photos img{
    max-height: 350px;
    width: 100%;
  }
  #photos #tns2-mw{
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
}


#events .d-flex.justify-content-between{
  gap: 10px;
  text-align: center;
}
#events .d-flex.justify-content-between a{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  #events .d-flex.justify-content-between{
    flex-direction: column;
    gap: 10px;
  }
  #events .d-flex.justify-content-between a{
    display: block;
    text-align: center;
  } 
}