@import "_custom.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Playfair Display', serif;
}

.bg-dark{
    background-color: #212121;
}

.text-dark{
    background-color: #212121;
}

.bg-grey{
    background-color: #F6F6F6;
}

.bg-golden{
    background: rgb(233,195,90);
    background: linear-gradient(73deg, rgba(233,195,90,1) 0%, rgba(204,159,45,1) 27%, rgba(249,207,108,1) 62%, rgba(179,128,11,1) 100%);
}

.titles{
    font-size: 50px;
}

.btn{
    font-family: 'Montserrat', sans-serif;
}

.bg-img h3{
    font-family: 'Montserrat', sans-serif;
}

.bg-img .leaves-1{
    top: 3rem;
}

.bg-img .leaves-2{
    top: 3rem;
}

.line::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    margin: 2rem auto;
}


.diary{
    background-color: #707070;
    height: 60vh;
}

.diary .container{
    max-width: 1000px;
}