.btn{
    background-color: #272727;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0;
    font-weight: 600;
    -webkit-transition: all 0.2s ease;  
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;  
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.icon img{
    width: 100px;
    height: 100px;
    display: block;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.icon img[src="{{ icon }}"],
.icon img[src=""]{
    display: none;
}

/* WELCOME */

#welcome{
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#welcome > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
}

#welcome .nombre{
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0px;
    margin-left: 0.5rem;
    color: white;
}

#welcome .edad{
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 200px;
}

#welcome .tercera-linea{
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
    letter-spacing: 10px;
    margin-left: 0.5rem;
    font-size: 35px;
    color: white;
}

#welcome .fecha{
    bottom: 0px;
    font-weight: 700;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* COUNTDOWN */

#countdown{
    position: relative;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

#countdown .container{
    padding-top: 3rem;
    max-width: 900px;
}

#countdown .container .row{
    justify-content: space-evenly;
}

#countdown .container .row > div{
    font-weight: 800;
    line-height: 1;
    padding-bottom: 3rem;
}

#countdown .number{
    padding-bottom: 1rem;
}

#countdown .countdown-text{
    font-weight: 400;
    text-transform: uppercase;
}

#countdown #expired{
    font-weight: 700;
    text-transform: uppercase;
}

/* SCHEDULE */

#schedule{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    background-color: #272727;
}

#schedule .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

#schedule .container h4{
    text-transform: uppercase;
    font-weight: 800;
    margin: 0px;
}

#schedule .text{
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

/* PHRASE */

#phrase{
    background-color: gray;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#phrase .container{
    text-align: center;
    max-width: 800px;
}

/* ITINERARY */

#itinerary{
    background-color: #272727;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#itinerary .container{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#itinerary .container > div{
    padding-left: 1rem;
    padding-right: 1rem;
}

#itinerary .container > div .row{
    gap: 1.5rem;
}

#itinerary .row > :first-child{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#itinerary .container .row .col-sm-8{

}

#itinerary .container .row .col-sm-8 > div{
    background-color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

#itinerary .container .row .col-sm-8 > div .flex-fill{
    text-align: center;
    padding: 1.5rem;
}

#itinerary .container .row > :last-child .bg-white{
    padding: 1.5rem;
    text-align: center;
    flex: 1 1 auto;
}

#itinerary .container .row > div h3{
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 32px;
}

#itinerary  h4{
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 21px;
}

#itinerary  p{
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

#itinerary .row div > :nth-child(5){
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 21px;
}


/* GALLERY  */

#gallery{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#gallery .container{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#gallery .container > :last-child{
    position: relative;
    padding-right: 3rem;
    padding-left: 3rem;
}

#gallery .container > :last-child .my-slider{
    display: flex;
    align-items: center;
}

#gallery .container > :last-child .my-slider > div{
    height: 100%;
}

/* Gallery */
@media screen and (min-width: 900px) {
    #gallery .my-slider img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}

/* PLAYLIST */

#playlist{
    background-color: #272727;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#playlist .container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 600px;
}

#playlist .container h3{
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

#playlist .container p{
    text-align: center;
    color: white;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    max-width: 500px;
}

#playlist .container form{
    margin-top: 1.5rem !important;
}

#playlist .container form .row{
    justify-content: center;
}

form .row .col-sm-12{
    margin-bottom: 1rem;
}

.form-control{
    background-color: #272727;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
    border: 0;
    width: 100%;
    font-weight: 400;
}

#playlist .container form .row .text-center{
    align-items: center;
}

#playlist .container form .row .text-center button{
    background-color: #272727;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border: 0;
    border-radius: 0;
    margin-top: 0.5rem;
}

/* RECOMENDATIONS */

#recomendations{
    background-color: #272727;
    position: relative;
}

#recomendations .container{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#recomendations .container > div{
    padding-right: 1rem;
    padding-left: 1rem;
}

#recomendations .container h3{
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
}

#recomendations .container .row{
    justify-content: center;
    margin-bottom: 3rem;
}

#recomendations .container .row .accordion .accordion-item{
   margin-bottom: 1.5rem;
   overflow: hidden;
}

#recomendations .container .row .accordion .accordion-item .accordion-header .accordion-button{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
}

#recomendations h4.fs-sm-16{
    text-transform: uppercase;
    font-weight: 700;
}

#recomendations p.fs-sm-16{
    font-weight: 500;
}


/* DRESS CODE */

#dresscode{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#dresscode .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    max-width: 750px;
}

#dresscode .container h3{
    font-weight: 800;
}

#dresscode .container .text{
    margin-bottom: 3rem;
    font-weight: 500;
}

#dresscode .container > :nth-child(4){
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}


/* VIDEO */

#video{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#video .title{
    font-weight: 800;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

#video .text{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    padding-bottom: 3rem;
    max-width: 800px;
}

#video .ratio{
    margin-bottom: 3rem;
}

/* HASHTAG */

#hashtag{
    background-color: #272727;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
}

#hashtag .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    max-width: 750px;
}

#hashtag h3{
    margin: 0px;
    font-weight: 800;
}

#hashtag .text{
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#hashtag .hashtag-phrase{
    background-color: #e5e5e5;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
}



/* INSTAGRAM */

#instagram-cumple{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

#instagram-cumple .title {
    margin-bottom: 1.5rem !important;
    font-weight: 800;
}

#instagram-cumple .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#instagram-cumple .container h3{
    margin-bottom: 1.5rem;
    font-weight: 800;
}

#instagram-cumple .text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9rem;
    max-width: 750px;
}

#instagram-cumple .container .py-5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#instagram-cumple .bg{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    max-width: 687px;
    background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
    border-radius: 25px;
}

#instagram-cumple .bg img{
    border-radius: 50rem;
    max-width: 100%;
    height: auto;
    border: 1px solid #dee2e6;
    transform: translateY(-50%);
    border-width: 15px !important;
    margin-bottom: -70px;
}

#instagram-cumple .profile-name{
    font-weight: 700;
    color: white;
    padding-bottom: 1.5rem;
}

#instagram-cumple .btn-ig{
    font-weight: 500;
    border-radius: 0px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#instagram-cumple .container .bg .py-4{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* TRANSPORT */

#transport{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

#transport .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 700px;
}

#transport .container .title{
    font-weight: 800;
    margin-bottom: 1.5rem;
}

#transport .container .text{
    font-weight: 500;
    margin-bottom: 3rem;
}

#transport .container form{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
} 

#transport .container form input.form-control{
    /* margin-bottom: 1.5rem; */
    /* border-radius: 0px; */
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    /* padding-left: 1.5rem; */
    /* padding-right: 1.5rem; */
}

#transport .container form .form-control.lugares{
    margin-bottom: 3rem;
    border-radius: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#transport .container form .form-control.lugares select{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0px;
}



/* GIFTS */

#gifts{
    text-align: center;
    opacity: 1;
    background-color: #5143d9!important;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#gifts .bank {
    font-weight: 500;
    font-size: 16px !important;
    text-align: center !important;
    padding: 1.5rem !important;
}

#gifts .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#gifts .title{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 3rem;
    font-family: inherit;
}

#gifts .row{
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-bottom: 1.5rem;
}

#gifts .row p.text{
    font-size: 18px;
    color: white;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#gifts .pills{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#gifts .pills > div{
    border: 4px solid black;
    border-radius: 50rem;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

#gifts .pills > div ul li button{
    text-transform: uppercase;
    border-radius: 50rem;
    font-weight: 600;
}

#gifts .tab-content{
    margin-top: 1.5rem;
}

#gifts .tns-item img{
	margin-left: auto;
	margin-right: auto;
}
#gifts .tns-item h3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-weight: 700;
	font-size: 16px !important;
	text-transform: uppercase !important;
}

#gifts .tns-item .ellipsis-2{
    min-height: 48px;
}

#gifts .tns-item h4 {
    font-weight: 500;
    font-size: 28px !important;
    margin-bottom: 1.5rem !important;
}

#gifts .tns-item a{
	font-weight: 600;
		font-size: 14px !important;
		border-radius: var(--bs-border-radius-pill) !important;
		color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
		text-transform: uppercase !important;
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
		padding-right: 3rem !important;
		padding-left: 3rem !important;
		--bs-border-width: 2px;
		border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
		display: inline-block !important;
}

@media screen and (min-width: 1000px) {
	#gifts .tns-item a{
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 15px;		
	}
	#gifts .tns-item > div{
		height: 440px;
		position: relative;
	}
}
@media screen and (min-width: 1400px) {
	#gifts .tns-item > div{
		height: 480px;
		position: relative;
		padding-bottom: 150px;
	}
}

.tns-inner{
	margin: 0 !important;
}

@media (min-width: 1200px){
    #welcome > div h1{
        font-size: 35px;
    }
    #countdown #expired{
        font-size: 28px;
    }
    #countdown .row > div{
        font-size: 48px;
    }
    #countdown .countdown-text{
        font-size: 18px;
    }
    #schedule h4{
        font-size: 28px;
    }
    #itinerary .row > :last-child .bg-white > div h3{
        font-size: 32px;
    }
    #itinerary .row > :last-child .bg-white > div h4{
        font-size: 21px;
    }
    #itinerary .row > :last-child .bg-white > div p{
        font-size: 14px;
    }
    #itinerary .row > :last-child .bg-white > div > :nth-child(5){
        font-size: 21px;
    }
    #itinerary .row > :last-child .bg-white > div a{
        font-size: 14px;
    }
    #playlist h3{
        font-size: 24px;
    }
    #playlist p{
        font-size: 18px;
    }
    #playlist form .row .text-center button{
        font-size: 14px;
    }
    #recomendations .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    #recomendations .container > div{
        padding: 3rem;
    }
    #recomendations  h3{
        font-size: 28px;
    }
    #recomendations  .row .accordion .accordion-item .accordion-header .accordion-button{
        font-size: 16px;
    }
    section#recomendations h4.fs-sm-16, section#recomendations p.fs-sm-16{
        font-size: 16px;
    }
    #dresscode h3{
        font-size: 28px;
    }
    #dresscode .container > :nth-child(4){
        font-size: 21px;
    }
    #video .title{
        font-size: 28px;
    }
    #hashtag h3{
        font-size: 32px;
    }
    #hashtag .text{
        font-size: 16px;
    }
    #hashtag .hashtag-phrase{
        font-size: 24px;
    }
    #hashtag a.btn{
        font-size: 14px;
    }
    #instagram-cumple .profile-name{
        font-size: 21px;
    }  
    #transport .title{
        font-size: 28px;
    }
    #transport .text{
        font-size: 14px;
    }
    #gifts .title{
        font-size: 42px;
    }
    #gifts .row p.text{
        font-size: 18px;
    }
    #gifts .pills > div ul li button{
        font-size: 18px;
    }
}

@media (min-width: 576px){
    #itinerary .container > div{
        padding-right: 0px;
        padding-left: 0px;
    }
    #gifts .container .pills > div ul li button{
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}



#selpix-countdown .row > div {
    position: relative;
}

#instagram-filtro {
    padding-top: 80px;
    padding-bottom: 80px;
}

#instagram-filtro .title {
    font-weight: 800;
    text-align: center !important;
    padding-bottom: 1.5rem !important;
}

#instagram-filtro .text {
    font-weight: 400;
    text-align: center !important;
    line-height: 1.5 !important;
    margin-bottom: 3rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#selpix {
    text-align: center;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

#selpix .container{
    max-width: 850px;
}

#selpix .title{
    font-weight: 800;
    font-size: 28px !important;
    margin-bottom: 1.5rem !important;
}

#selpix .text{
    margin-bottom: 3rem !important;
}

#selpix #selpix-countdown{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

#selpix .points{
    font-weight: 800;
    font-size: 32px !important;
    padding-top: 1.5rem !important;
    right: 0 !important;
    position: absolute !important;
}

#selpix .number{
    font-weight: 700;
    font-size: 32px !important;
}

#selpix .status{
    font-size: 18px !important;
}

#confirmation {
    text-align: center !important;
    padding-top: 3rem !important;
    background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

#confirmation .container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

#confirmation form {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    margin-bottom: 3rem !important;
}

#confirmation .title{font-weight: 800;font-size: 28px !important;color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;text-align: center !important;margin-bottom: 1.5rem !important;}

#confirmation .text{
    font-weight: 400;
    font-size: 16px !important;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    margin-bottom: 3rem !important;
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 700px;
}

#confirmation .checks {
    margin-bottom: 3rem !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

#confirmation .row > div{
    margin-left: auto;
    margin-right: auto;
}

#greeting {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    text-align: center !important;
}

#greeting .top-name {
    font-weight: 500;
    font-size: 16px !important;
}

#greeting .name {
    font-weight: 800;
    font-size: 36px !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

#greeting .date {
    font-weight: 500;
    font-size: 16px !important;
}