@import "_custom.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --c-primary: #AE4F10;
  --c-secondary: #ECE7E3;
  --c-secondary-light: #d7c0a3;
  --dark: #262626;
  --gray: #ACACAC;
  --gray-light: #D5D4D4;
  --f-primary: 'Montserrat', sans-serif;
  --f-secondary: 'Playfair Display', serif;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

::placeholder {
  color: inherit !important;
}

.c-primary {
  color: var(--c-primary) !important;
}

.c-secondary {
  color: var(--c-secondary) !important;
}

.c-secondary-light {
  color: var(--c-secondary-light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-gray-light {
  background-color: var(--gray-light) !important;
}

.bg-primary {
  background-color: var(--c-primary) !important;
}

.bg-secondary {
  background-color: var(--c-secondary) !important;
}

.bg-secondary-light {
  background-color: var(--c-secondary-light) !important;
}

.f-primary {
  font-family: var(--f-primary);
}

.f-secondary {
  font-family: var(--f-secondary);
}

* {
  font-family: var(--f-primary);
}

body {
  overflow-x: hidden !important;
  width: 100vw;
  touch-action: pan-y;
}

.tns-controls {
  position: relative;
}

.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"] {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  border: 0;
  background-color: transparent;
  top: 180px;
  background-size: contain;
}

.tns-controls [data-controls="prev"] {
  background-image: url('../img/templates/after-party/left.svg');
  left: -40px;
}

.tns-controls [data-controls="next"] {
  background-image: url('../img/templates/after-party/right.svg');
  right: -50px;
}

@media screen and (max-width: 900px) {
  .tns-controls [data-controls="prev"], .tns-controls [data-controls="next"]{
    width: 20px;
    height: 20px;
  }
  .tns-controls [data-controls="prev"] {
  left: -28px;
  }
  
  .tns-controls [data-controls="next"] {
  right: -30px;
  }
}