@import "_custom.css"; 
@import "_general.css"; 
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Quicksand:wght@300..700&display=swap');

:root {
    --c-primary: #A4DF09;
    --c-secondary: #5437A7;
    --c-tertiary: #A7ECFA;
    --c-quaternary: #FFFFFF;
    /* fuentes */
    --f-primary: "Quicksand", sans-serif;
    --f-secondary: "Crafty Girls", cursive;
    /* formas */
    --f-icons: brightness(0) invert(91%) sepia(91%) saturate(551%) hue-rotate(313deg) brightness(104%) contrast(101%);
    --stars-primary: url(../../img/templates/astronauta/estrellas-green.svg);
    --stars-secondary: url(../../img/templates/astronauta/estrellas-violet.svg);
    --forma-hero: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1928.455' height='357.804' viewBox='0 0 1928.455 357.804'%3e%3cpath id='Trazado_2' class='colorFirst' data-name='Trazado 2' d='M0,1057.472s358.8,122.2,954.172-.72,960.828,0,960.828,0v118.884H0Z' transform='translate(9 -842.742)' fill='%23ffdd8b' opacity='0.69'/%3e%3cg id='Grupo_8556' data-name='Grupo 8556' transform='translate(0 160.168)'%3e%3cg id='Grupo_8555' data-name='Grupo 8555' transform='translate(0)'%3e%3cpath id='Trazado_1' class='colorSecond' data-name='Trazado 1' d='M1928.455,1060.782s-361.319,129.507-960.876-.763-967.579,0-967.579,0v139.739H1928.455Z' transform='translate(0 -1002.121)' fill='%23fbca43'/%3e%3c/g%3e%3c/g%3e%3cg id='Grupo_8557' data-name='Grupo 8557' transform='translate(6.273 0.66)'%3e%3cpath id='Trazado_3559' class='colorTertiary' data-name='Trazado 3559' d='M-5.454,932.121s140.988,226.667,502.918,244.848S1514.009,811.031,1915,1056.667' transform='translate(5.454 -932.121)' fill='none' stroke='%23f8e8be' stroke-width='2.5'/%3e%3c/g%3e%3c/svg%3e ");
    --forma-hero2: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1933.455' height='197.636' viewBox='0 0 1933.455 197.636'%3e%3cg id='Grupo_8558' data-name='Grupo 8558' transform='translate(0 0)'%3e%3cpath id='Trazado_2' data-name='Trazado 2' d='M1920,1120.285s-359.734-122.2-956.663.72-963.337,0-963.337,0V1002.121H1920Z' transform='translate(0.001 -990.061)' fill='%23ffdd8b' opacity='0.69'/%3e%3cg id='Grupo_8556' data-name='Grupo 8556' transform='translate(0)'%3e%3cg id='Grupo_8555' data-name='Grupo 8555'%3e%3cpath id='Trazado_1' data-name='Trazado 1' d='M0,1141.1s362.256-129.507,963.368.763,970.088,0,970.088,0V1002.121H0Z' transform='translate(0 -1002.121)' fill='%23fbca43'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
}

body {
    font-family: var(--f-primary);
    overflow-x: hidden !important;
    width: 100vw;
    touch-action: pan-y;
}

.form-control {
    font-size: 0.8rem;
    border-radius: 0 !important;
    border-radius: 25px !important;
    min-height: 45px;
    background-color: var(--c-primary) !important;
}

.btn{
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn:hover{
    background-color: #DED2FF!important;
}

.btn-dark {
    --bs-btn-bg: #000;
}

.title{
    font-family: var(--f-secondary);
    text-transform: inherit!important;
}

.text{
}

.arrowCta {
    display: block;
    height: 13px;
    width: 13px;
    border: 11px solid transparent;
    transform: rotate(45deg);
    position: relative;
    margin: 3rem auto 0;
}

.arrowCta:after, .arrowCta:before {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.arrowCta:after {
    border-bottom: 3px solid var(--c-primary);
    border-right: 3px solid var(--c-primary);
    top: 0;
    left: 0;
    opacity: 1;
    animation: bottom-arrow 1.65s infinite;
}

.arrowCta:before {
    top: 0;
    left: 0;
    border-bottom: 3px solid var(--c-primary);
    border-right: 3px solid var(--c-primary);
    animation: top-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    45% {
        opacity: 0;
        transform: translate(12px, 12px);
    }

    46% {
        opacity: 0;
        transform: translate(-16px, -16px);
    }

    90% {
        opacity: 1;
        transform: translate(-6px, -6px);
    }

    100% {
        opacity: 1;
        transform: translate(-6px, -6px);
    }
}

@keyframes top-arrow {
    0% {
        transform: translate(-6px, -6px);
    }

    35% {
        transform: translate(0, 0);
    }

    90% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.tns-controls {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"] {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    height: 40px;
    padding: 0;
    position: absolute;
    width: 40px;
    background-size: cover;
    z-index: 1;
}

.tns-controls [data-controls="prev"] {
    background-image: url(../../img/templates/astronauta/arrow-left.svg);
}

.tns-controls [data-controls="next"] {
    background-image: url(../../img/templates/astronauta/arrow-right.svg);
    right: 0;
}

.accordion-button::after {
    filter: grayscale(100%) brightness(10) invert(100%);
}

.accordion-button:not(.collapsed)::after {
    filter: grayscale(100%) brightness(10);
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    box-shadow: none !important;
}

#welcome {
    position: relative;
}

#groupFirst{
    filter: brightness(0) invert(8%) sepia(77%) saturate(2783%) hue-rotate(320deg) brightness(93%) contrast(106%);
}

#welcome > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
}

#welcome > div:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../../img/templates/astronauta/dibujo-02.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    padding-bottom: 23%;
    right: 0;
    bottom: 100px;
}

#welcome > div:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../../img/templates/astronauta/dibujo-01.svg);
    background-size: contain;
    width: 280px;
    padding-bottom: 25%;
    background-repeat: no-repeat;
    left: 0;
    top: 50px;
    background-position: right;
}

#welcome .nombre {
    color: #fff !important;
    font-size: 130px !important;
    /* text-transform: uppercase; */
    font-weight: 700 !important;
    margin-bottom: 0 !important;
    display: block;
    text-align: center;
    font-family: var(--f-secondary);
}

#welcome .edad {
    text-transform: initial !important;
    font-size: 70px !important;
    font-weight: 400 !important;
    margin: 0 auto !important;
    max-width: 550px;
    text-align: center;
    color: white;
}

#welcome .tercera-linea {
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 0 !important;
    display: none;
}

#welcome .fecha {
    background-color: var(--c-secondary);
    border-radius: 10px;
    font-size: 22px !important;
    z-index: 1;
    position: relative !important;
    margin-top: 50px;
    color: white;
}

@media screen and (max-width: 900px) {
    #welcome > div {
        background-size: 100%;
    }
    #welcome .nombre {
        font-size: 12vw !important;
    }
    #welcome .tercera-linea{
        font-size: 3vw !important;
    }
}

#countdown {
    background-color: var(--c-secondary) !important;
    position: relative;
    background-image: var(--stars-secondary);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-attachment: scroll;
}

#countdown::before{
    content: "";
    display: none;
    position: absolute;
    background-image: var(--stars-secondary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: 0;
}

#countdown .container .row > div {
    display: grid;
    gap: 10px;
}

section#countdown .justify-content-evenly > div > div:last-child {
    grid-row-start: 1;
    font-size: 18px !important;
    font-weight: 600;
    color: var(--c-tertiary);
}

section#countdown .number {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0 !important;
    margin-bottom: 15px;
    font-size: 50px;
    color: #fff;
    font-weight: 800 !important;
    font-family: var(--f-secondary);
}


section#countdown .text-gold {
    /* color: white !important; */
    color: #000 !important;
}

section#hashtag {
    background-color: #FFF;
    color: #272727;
    position: relative;
    overflow: hidden;
}

section#hashtag:before {
    content: "";
    display: block;
    position: absolute;
    right: 5rem;
    width: 200px;
    background-image: url(../../img/templates/astronauta/dibujo-08.svg);
    padding-bottom: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: none;
}

section#hashtag .hashtag-phrase {
    border-radius: 50px;
    color: #272727 !important;
    background-color: var(--c-primary);
    text-transform: inherit;
}

#hashtag .text {
    /* text-transform: uppercase; */
    font-weight: 400;
    margin-bottom: 30px !important;
}
#schedule {
    background-size: cover;
    background-position: center;
    background-color: var(--c-tertiary);
    color: #161616 !important;
    position: relative;
    padding-bottom: 0 !important;
    overflow: hidden;
}

#schedule::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../../img/templates/astronauta/dibujo-03.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    padding-bottom: 23%;
    left: -2vw;
}


#schedule .text {
}

/* Instagram */
#instagram-cumple .title {
    /* color: white; */
}

#instagram-cumple .title {
}

#instagram-cumple .text {
    font-family: var(--f-secondary);
}

#instagram-cumple img {
    border-color: var(--c-primary) !important;
}

/* Filtro */
#instagram-filtro .instructions {
    padding: 60px 40px;
    max-width: 650px;
    text-align: center;
}

#instagram-filtro .title {
    font-size: 30px !important;
    /* color: var(--c-primary); */
}

#instagram-filtro .text {
    font-size: 16px !important;
    max-width: 480px;
}

#instagram-filtro .instructions .btn {
    color: white;
    font-weight: 500;
}

/* Video */
#video {
    background-color: var(--c-tertiary);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

#video .container:before {
    content: "";
    display: block;
    position: absolute;
    left: -5rem;
    width: 300px;
    background-image: url(../../img/templates/astronauta/dibujo-07.svg);
    padding-bottom: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    pointer-events: none;
}

section#video .title:before {
    display: none;
}

section#video .text {
    display: block;
}

/* Selpix */
#selpix {
    background-color: var(--c-primary);
    position: relative;
    background-image: var(--stars-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section#selpix .logo {
    display: none;
}

section#selpix .text {
    line-height: 1.8;
    color: #212121;
}

#selpix .btn {
    border-color: var(--c-secondary) !important;
}

#selpix .icon{
    display: none;
}

#selpix .number {
    background-color: #fff;
    color: #212121;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

#selpix .status {
    font-weight: 500;
    font-family: var(--f-secondary);
}

#selpix .icon img{
    filter: none;
}

/* gifts */
#gifts {
    background-size: cover;
    background-position: center;
    padding-top: 0 !important;
}

#gifts .bg-white {
    color: #000;
}

#gifts .pills .rounded-pill {
    border-radius: 10px !important;
}

#gifts .title {
    color: inherit !important;
    font-size: 30px !important;
    font-family: var(--f-secondary);
}

#gifts .text {
    font-weight: 400;
}

.nav-pills .nav-link {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: #000;
}

/* gifts */
#playlist {
    background-color: var(--c-quaternary) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    color: #000 !important;
    position: relative;
    overflow: hidden;
}

#playlist form .row .text-center button{
    font-size: inherit;
}

#playlist:before {
    content: "";
    display: block;
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 300px;
    background-image: url(../../img/templates/astronauta/dibujo-05.svg);
    padding-bottom: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

#playlist .text {
    /* text-transform: uppercase; */
    color: #000 !important;
    font-size: 14px !important;
}

@media screen and (max-width: 900px) {
    #playlist {
        background-repeat: repeat;
        background-size: 115%;
    }
}

/* dresscode */
#dresscode {
    background-size: cover;
    background-position: center;
    background-color: var(--c-quaternary);
    position: relative;
    overflow: hidden;
}

#dresscode::before{
    content: "";
    display: block;
    position: absolute;
    right: -3vw;
    top: 2vh;
    width: 250px;
    background-image: url(../../img/templates/astronauta/dibujo-06.svg);
    padding-bottom: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

#dresscode .title {
}

#dresscode .dresscode {
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 30px;
    background-color: var(--c-primary);
    color: #272727 !important;
}

#dresscode .btn {
    text-transform: uppercase;
}

.bg-gray {
    background-color: #707070;
}

/* transport */
#transport {
    background-color: var(--c-quaternary);
    display: none;
}
section#transport select.rounded-0 {
    border-radius: 20px !important;
}
#transport .title {
}
#transport .text {
    font-weight: 400;
    font-family: var(--f-secondary);
}
#transport .form-control {
    background-color: var(--c-primary);
    color: #272727;
    border: 0 !important;
}
#transport .btn {
    font-weight: 500;
    text-transform: uppercase;
    border-color: var(--c-primary) !important;
}

/* recomendations */

#recomendations {
    background-color: var(--c-secondary) !important;
    color: #212121;
    background-image: var(--stars-secondary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
section#recomendations .fs-sm-16 {
    font-size: 14px !important;
    background-color: transparent;
    color: inherit !important;
}
#recomendations .icon{
    display: none;
}
#recomendations .accordion-button::after {
    filter: brightness(0) !important;
}
#recomendations .title {
}
#recomendations .accordion-flush .accordion-item {
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: inherit;
}
#recomendations .icon img{
    filter: none;
}
#recomendations .container .row{
    margin-bottom: 0;
}
#recomendations .container .row .accordion .accordion-item .accordion-header .accordion-button{
    font-family: var(--f-primary);
}

/* confirmation */
#confirmation .title {
    color: #272727 !important;
}
#confirmation .btn-light {
    text-transform: uppercase !important;
    color: #fff;
    border-color: var(--c-primary) !important;
}
section#confirmation {
    background-size: cover;
    background-position: center;
    background-color: var(--c-quaternary) !important;
    position: relative;
    overflow: hidden;
}
section#confirmation:before {
    content: "";
    display: block;
    position: absolute;
    right: 2vw;
    width: 300px;
    background-image: url(../../img/templates/astronauta/dibujo-09.svg);
    padding-bottom: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: none;
    bottom: 0;
}
section#confirmation .text-white {
    color: #272727 !important;
}
section#confirmation .text {
    font-weight: 400;
}

/* greeting */
#greeting {
    background-color: var(--c-secondary);
    color: #fff;
    background-size: cover;
    background-position: center;
}
section#greeting .name {
    color: white;
    border-radius: 40px;
    width: fit-content;
    margin: 17px auto;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--f-secondary);
}

.form-check-input:checked{
    background-color: var(--c-tertiary);
    border-color: var(--c-tertiary);
}

/* itinerary */
#itinerary {
    background-color: var(--c-quaternary) !important;
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow: hidden;
    position: relative;
}
#itinerary::before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../../img/templates/astronauta/dibujo-04.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    padding-bottom: 23%;
    right: -2vw;
}
section#itinerary .flex-fill p {
    margin: 0;
    font-weight: 500;
}
#itinerary h3 {
    color: #000;
    font-size: 30px !important;
    margin-bottom: 0;
    /* color: var(--c-primary); */
    /* display: none; */
}
#itinerary .container .row div > :nth-child(5) {
    font-size: 18px !important;
}
#itinerary .container .row .col-sm-8 > div > div h3:after {
    /* content: ""; */
    display: block;
    background-color: var(--c-primary) !important;
    height: 5px;
    border-radius: 5px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#itinerary .row > :first-child{
    border-radius: 20px;
}
#itinerary h4{
    text-transform: inherit;
}

.btn {
    border: 0 !important;
    border-radius: 10px !important;
    background-color: var(--c-secondary) !important;
    color: #fff !important;
    text-transform: uppercase;
}


#gifts{
    background-color: var(--c-secondary)!important;
    color: white;
    background-image: var(--stars-secondary);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#gallery .container{
    margin-top: 0px;
}
#gallery{
    background-color: var(--c-primary);
    height: 100%;
    background-image: var(--stars-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
section#gallery .my-slider img {
    border-radius: 20px;
}
@media screen and (min-width: 900px) {
    #gallery .my-slider img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
}

section#instagram-cumple {
    background-color: var(--c-secondary);
    position: relative;
    display: none;
}

section#instagram-cumple:after {
    content: "";
    display: block;
    position: absolute;
    background-image: var(--mariposas2);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    padding-bottom: 13%;
    right: 0;
    background-color: transparent;
    top: 100px;
}

section#instagram-cumple::before{
    content: "";
    display: block;
    position: absolute;
    background-image: var(--mariposas1);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    padding-bottom: 13%;
    right: 0;
    background-color: transparent;
    left: 0;
    bottom: 100px;
}

section#instagram-cumple .bg {
    border-radius: 25px;
    background-color: #fff !important;
}

section#instagram-cumple .profile-name {
    color: #000 !important;
    font-weight: 600;
}

section#instagram-cumple .btn-ig {
    color: white;
}

#instagram-cumple .icon img{
    filter: none;
}

section#instagram-filtro {
    background-color: var(--c-tertiary);
    color: #212121;
    position: relative;
    overflow: hidden;
}
section#instagram-filtro .container {
    position: relative;
    z-index: 1;
}
section#instagram-filtro:after {
    content: "";
    background-image: url(../../img/templates/astronauta/dibujo-03.svg);
    display: block;
    width: 300px;
    padding-bottom: 17%;
    background-size: contain;
    /* background-position: center; */
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 16vh;
}



section#phrase {
    font-family: var(--f-secondary);
    font-size: 15px;
    position: relative;
    background-color: #707070;
    display: none;
}
section#phrase::before{
    content: "";
    display: block;
    position: absolute;
    background-image: var(--mariposas2);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    padding-bottom: 13%;
    right: 0;
    background-color: transparent;
    top: 65px;
}
section#phrase::after{
    content: "";
    display: block;
    position: absolute;
    background-image: var(--mariposas1);
    background-size: contain;
    width: 150px;
    padding-bottom: 13%;
    background-repeat: no-repeat;
    left: 0;
    top: 66px;
}

#gifts-load .p-4.text-center.fs-sm-16.fw-500 {
    font-family: var(--f-secondary);
}

#confirmation .d-flex.mb-5.align-items-center.justify-content-center {
    font-family: var(--f-secondary);
}

.icon img {
    width: 90px;
    height: 90px;
    margin-bottom: 35px;
    /* filter: var(--f-icons); */
}


@media screen and (max-width: 900px){
    #welcome > div:before{
        padding-bottom: 50%;
        width: 180px;
        height: 250px;
        bottom: 0;
    }
    #welcome > div:after{
        background-position: initial;
        padding-bottom: 40%;
        width: 200px;
        height: 250px;
        top: 0;
    }
    #playlist:before{
        top: 1vh;
        left: 1vw;
        height: 150px;
    }
}

@media screen and (max-width: 480px){
    #welcome .nombre{
        
    }
    #welcome .edad{
        font-size: 30px!important;
    }
    div#welcome:after{
        padding-bottom: 60%;
    }
    #countdown::before{
        width: 84px;
        padding-bottom: 30%;
    }
    #countdown::after{
        width: 84px;
        padding-bottom: 30%;
        top: 50px;
    }
    section#phrase::before{
        padding-bottom: 30%;
        top: 0;
        width: 90px;
    }
    section#phrase::after{
        padding-bottom: 30%;
        top: inherit;
        bottom: 0;
    }
    #itinerary{
        padding-top: 3rem;
    }
    #itinerary .container > div .row{
        display: grid;
    }
    #itinerary .row > :first-child{
        grid-row: 2;
    }
    section#gallery:after, section#video:after, section#gifts:after{
        padding-bottom: 50%;
    }
    #recomendations:before{
        padding-bottom: 30%;
        top: 30px;
    }
    #recomendations::after{
        width: 100px;
        padding-bottom: 30%;
        bottom: 10px;
    }
    #dresscode .container{
        padding-bottom: 0px;
    }
    #video .container:before{
        padding-bottom: 30%;
        top: 1vh;
        height: 134px;
        left: -7vw;
    }
    #video .container::after{
        padding-bottom: 30%;
        bottom: 100px;
    }
    section#instagram-cumple::before{
        padding-bottom: 30%;
        bottom: 0;
    }
        section#instagram-cumple:after{
        width: 100px;
        padding-bottom: 30%;
        top: 40px;
    }
    #transport .container{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #gifts .container{
        padding-bottom: 0px;
    }
    section#gifts .container::after{
        padding-bottom: 30%;
        width: 100px;
        top: 50%;
    }
    section#instagram-filtro{
        padding-top: 1rem;
    }
    #selpix:before{
        width: 100px;
        padding-bottom: 30%;
    }
        #selpix::after{
        padding-bottom: 30%;
        bottom: 0;
    }
    #confirmation form{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
    section#countdown .justify-content-evenly > div > div:last-child{
        color: var(--c-primary);
    }
    #schedule::before{
        height: 150px;
    }
    #itinerary::before{
        width: 120px;
        height: 150px;
        right: -10vw;
        bottom: 0;
    }
    #itinerary .btn{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #itinerary .container{
        position: relative;
    }
    section#gallery .my-slider img{
        height: 400px;
        object-fit: cover;
    }
    #gallery .container > :last-child .my-slider > div{
        padding-right: 0;
    }
    #gallery .container > :last-child{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #playlist:before{
        height: 100px;
    }
    #dresscode::before{
        height: 180px;
        width: 100px;
    }
    section#hashtag:before{
        right: 2vw;
    }
    section#instagram-filtro:after{
        top: 2vh;
        height: 150px;
    }
    #instagram-filtro .instructions{
        padding: 40px 11px;
    }
}