@import "_custom.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&display=swap');

:root{
  --c-primary: #E4C4A1;
  --c-primary-light: #F5D09C;
  --c-secondary: #424242;
  --black: #1E1E1E;
  --black-2: #2A2A2A;
  --primary-font: "Prata", serif;
  --secondary-font: "Lato", serif;
  --terciary-font: "Lato", serif;
}
body{
  font-family: var(--primary-font);
  color: #212121;
  overflow-x: hidden !important;
  width: 100vw;
  touch-action: pan-y;
}
.f-primary{
  font-family: var(--primary-font);
}
.f-secondary{
  font-family: var(--secondary-font);
}
.f-terciary{
  font-family: var(--terciary-font);
}
.border-primary{
  border-color: var(--c-primary) !important;
}
.border-secondary{
  border-color: var(--c-secondary) !important;
}
.border-terciary{
  border-color: var(--c-terciary) !important;
}
.cut-1 {
  background: url('http://eventdate.test/img/templates/chic/cut-1.svg') no-repeat center bottom;
  background-size: 100%;
  height: 186px;
}
.cut-2 {
  background: url('http://eventdate.test/img/templates/chic/cut-2.svg') no-repeat center bottom;
  background-size: 100%;
  height: 171px;
}
.cut-3 {
  background: url('http://eventdate.test/img/templates/chic/cut-3.svg') no-repeat center bottom;
  background-size: 100%;
  height: 171px;
}
.c-primary{
  color: var(--c-primary) !important;
}
.c-secondary{
  color: var(--c-secondary) !important;
}
.bg-dark{
  background-color: var(--black) !important;
}
.bg-dark-light{
  background-color: var(--black-2) !important;
}
.bg-primary{
  background-color: var(--c-primary) !important;
}
.bg-primary-light{
  background-color: var(--c-primary-light) !important;
}
.bg-secondary{
  background-color: var(--c-secondary) !important;
}
.bg-green {
  background-color: #7C8F90;
}
.bg-green-2 {
  background-color: #ced3d1;
}
.bg-green-light {
  background-color: #8C8C8C;
}
.bg-green-dark {
  background-color: #8C8C8C;
}
.text-red {
  color: #F66;
}
.accordion-button:not(.collapsed) {
  background: white;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  box-shadow: none !important;
}
.tns-controls {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"] {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  height: 24px;
  padding: 0;
  position: absolute;
  width: 24px;
}
.tns-controls [data-controls="prev"] {
  background-image: url('https://emidica.com/img/icos/ico-arrow-prev.svg');
  left: 0;
}
.tns-controls [data-controls="next"] {
  background-image: url('https://emidica.com/img/icos/ico-arrow-next.svg');
  right: 0;
}
.nav-pills .nav-link.active {
  background: var(--c-primary);
  color: #333333;
}
.nav-pills .nav-link {
  color: white;
}
[class*="leaves-"]{
  width: 350px;
  max-width: 100%;
}
.leaves-1 {
  top: -34px;
  /* left: -160px; */
  right: -6vw;
}
.leaves-2 {
  top: 30vh;
  left: -10vw;
}
.leaves-3 {
  bottom: -250px;
  right: -9vw;
}
.leaves-4 {
  bottom: -360px;
}
.leaves-5 {
  top: -400px;
  left: -12vw;
}
.leaves-6 {
  top: 440px;
  right: -10vw;
  filter: brightness(0) invert(84%) sepia(15%) saturate(510%) hue-rotate(338deg) brightness(90%) contrast(86%);
}
.leaves-7 {
  top: -530px;
  left: -17vw;
}
@media (max-width: 767px) {
  .leaves-1 {
    width: 150px;
  }
  .leaves-2 {
    bottom: -220px;
    top: inherit;
    width: 150px;
    left: -70px;
  }
  .leaves-3 {
    width: 150px;
    bottom: -230px;
    right: -12vw;
  }
  .leaves-4 {
    bottom: -100px;
    top: inherit;
    width: 200px;
  }
  .leaves-5 {
    top: -80px;
    width: 110px;
  }
  .leaves-6 {
    top: inherit;
    width: 160px;
    bottom: -530px;
    right: -20vw;
  }
  .leaves-7 {
    bottom: -150px;
    width: 130px;
    top: inherit;
  }
  .cut-1 {
    background-size: auto 100%;
  }
  .cut-2 {
    background-size: auto 100%;
  }
  .cut-3 {
    background-size: auto 100%;
  }

  #count-down .d-flex{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 20px;
  }

  #photos .tns-ovh{
    margin-left: 30px;
    margin-right: 30px;
  }
}

.decoration{
  pointer-events: none;
}

#history{
  /* border-top: 18px solid var(--c-primary); */
}

#songs .form-control::placeholder{
  font-family: var(--secondary-font);
}

#photos img{
  max-height: 525px;
  width: auto;
  height: 70vh;
  object-fit: cover;
}

#photos .img-flower{
  width: 56px!important;
  height: 44px!important;
}

#recomendations .accordion-button::after{
  margin-left: 10px;
}

#recomendations .accordion-button:not(.collapsed)::after{
  filter: brightness(0) invert(9%) sepia(3%) saturate(18%) hue-rotate(339deg) brightness(97%) contrast(92%);
}

#transport input.form-control::placeholder{
  color: #595454;
}

#confirmation .form-check-input:checked{
  background-color: var(--c-primary);
  border-color: var(--c-primary);
}

#confirmation .form-control::placeholder{
  font-family: var(--secondary-font);
}

@media screen and (max-width: 900px) {
  #photos img{
    /* max-height: 350px; */
    width: 100%;
  }
}


@media screen and (max-width: 900px) {
  .border-mobile{
    border-right: 0 !important;
    border-bottom: 1px solid var(--c-primary) !important;
  }
  
  #events .item > div{
    border-left: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    height: 675px;
  }
  #count-down{
    border-bottom: 1px solid var(--c-primary);
  }
  #count-down .container{
    padding-top: 150px!important;
    padding-bottom: 130px!important;
  }
  #count-down .flower-right{
    bottom: 20px;
  }
  .dress-code .col-md-6{
    padding: 0;
  }
  .dress-code .col-md-6 > div{
    padding-left: 15px;
    padding-right: 15px;
  }
  .dress-code h2{
    font-weight: 400;
  }
  .dress-code p, .dress-code .text-dark, #songs p{
    font-size: 16px!important;
    font-weight: 400;
  }
  .dress-code .text-dark{
    text-transform: inherit!important;
  }
  .dress-code .col-md-6 .bg-black{
    font-size: 18px!important;
    font-weight: 400;
  }
  #songs h3{
    margin-bottom: 30px!important;
  }
  #songs button{
    margin-top: 30px;
  }
  .godparents h2, .godparents h4{ 
    font-weight: 400;
  }
  #gifts #tns3 > .tns-item > div{
    border: 1px solid var(--c-primary);
  }
}
#events .d-flex.justify-content-between{
  gap: 10px;
  text-align: center;
}
#events .d-flex.justify-content-between a{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  #events .d-flex.justify-content-between{
    flex-direction: column;
    gap: 10px;
  }
  #events .d-flex.justify-content-between a{
    display: block;
    text-align: center;
  } 
}

@media screen and (min-width: 1000px) {
  #gifts .tns-item > div{
    height: 470px;
  }
}
@media screen and (min-width: 1400px) {
  #gifts .tns-item > div{
		height: 520px;
	}
}


@media screen and (min-width: 900px) {
	.column-1 .tns-controls [data-controls="next"]{
		right: 25px;
	}
	.column-1 .tns-controls [data-controls="prev"]{
		left: -20px;
	}
	.column-2 .tns-controls [data-controls="next"]{
		right: -25px;
	}
	.column-2 .tns-controls [data-controls="prev"]{
		left: 20px;
	}
}
