@import "_custom.css"; 
@import "_general.css"; 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --f-primary: 'Quicksand', sans-serif;
    --f-secondary: 'Quicksand', sans-serif;
    --c-primary:  #fff;
    --c-secondary: #FFBEC4;
    --c-secondary-light: #FFDDE0;
    --light: #FFFEFD;
    --brown: #AE9461;
    --c-quaternary: ;
    --bg-principal: url(../../img/templates/pink-glitter/portada-web.jpg);
    --bg-separador: url(../../img/templates/pink-glitter/franja-01.jpg);
    --textura: url(../../img/templates/blue-glitter/textura.jpg);
    --forma-top: url(../../img/templates/blue-glitter/formas-05.png);
    --forma-bottom: url(../../img/templates/blue-glitter/formas-02.png);
    --star1: url(../../img/templates/pink-glitter/star01.svg);
    --star2: url(../../img/templates/pink-glitter/star02.svg);
    --star3: url(../../img/templates/pink-glitter/star03.svg);
    --textura: url(../../img/templates/pink-glitter/textura.jpg);
    --forma-top: url(../../img/templates/pink-glitter/formas-01.svg);
    --forma-top-transparent: url(../../img/templates/pink-glitter/formas-02.png);
    --forma-down-transparent: url(../../img/templates/pink-glitter/formas-03.png);
}

body{
    font-family: var(--f-primary);
    color: var(--c-primary);
    overflow-x: hidden !important;
    width: 100vw;
    touch-action: pan-y;
}

.btn{
    border: 0 !important;
    border-radius: 10px !important;
    background-color: var(--c-secondary) !important;
    color: #fff !important;
    text-transform: uppercase;
}

.form-control {
    font-size: 0.8rem;
    border-radius: 0 !important;
    border-radius: 25px !important;
    min-height: 45px;
    background-color: var(--c-secondary-light) !important;
}

.title{
    font-weight: bold!important;
    text-transform: uppercase!important;
}

/* welcome */

#welcome{
    position: relative;
}

#welcome .edad{
    color: white;
}

#welcome > div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
}

#welcome > div::before{
    content: "";
    display: block;
    background-image: var(--star1);
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    left: 0;
    top: 0;
}

#welcome > div::after, #playlist > div::after, #instagram-cumple > div::after, #instagram-filtro > div::after{
    content: "";
    display: block;
    background-image: var(--star2);
    width: 250px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    background-size: contain;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#playlist > div::after{
    height: 372px;
}

div#welcome:after{
    content: "";
    background-image: var(--forma-top);
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: -27px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20%;
}

#welcome .tercera-linea{
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 0 !important;
    padding-top: 2rem;
}

#welcome .edad{
    color: #fff !important;
    font-size: 130px !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
    display: block;
    text-align: center;
}

#welcome .fecha{
    background-color: var(--c-secondary);
    border-radius: 10px;
    font-size: 22px !important;
    z-index: 1;
    position: relative !important;
    margin-top: 50px;
    color: white;
}

/* countdown */

#countdown{
    background-color: #fff !important;
    background-size: cover;
    background-position: center;
}

#countdown .container{
    padding-top: 3rem;
    max-width: 900px;
}

#countdown .container .row > div{
    display: grid;
    gap: 10px;
}

section#countdown .number{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0 !important;
    margin-bottom: 15px;
    font-size: 50px;
    color: var(--c-secondary);
    font-weight: 800 !important;
}

section#countdown .justify-content-evenly > div > div:last-child{
    grid-row-start: 1;
    font-size: 14px !important;
    font-weight: 500;
}


/* schedule */

#schedule{
    background-size: cover;
    background-position: center;
    background-color: var(--c-secondary);
    color: #161616 !important;
    position: relative;
    padding-bottom: 0 !important;
}

#schedule .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.icon img{
    width: 70px;
    height: 70px;
    margin-bottom: 35px;
}

#schedule .btn{
    background-color: white!important;
    color: #212121!important;
}

div#schedule:after{
    content: "";
    background-image: var(--bg-separador);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 25px;
    margin-top: 40px;
}

/* phrase */

section#phrase{
    background-image: var(--bg-principal);
    font-size: 15px;
    position: relative;
    background-color: rgb(112, 112, 112);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

/* itinerary */

#itinerary{
    background-color: #FFFEFD;
    padding-bottom: 7rem;
    position: relative;
    color: #000;
}

#itinerary .container{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

#itinerary .row > :first-child{
    border-radius: 20px;
}

#itinerary h3{
    color: #000;
    font-size: 30px !important;
    margin-bottom: 0;
    color: var(--c-secondary);
    display: none;
}

#itinerary::before, #dresscode::before, #transport::before, #confirmation::before{
    content: "";
    display: block;
    background-image: var(--star3);
    width: 250px;
    height: 450px;
    position: absolute;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    left: 0;
}

#confirmation{
    position: relative;
}

#confirmation::before{
    bottom: 10rem;
}

/* gallery */

section#gallery, section#video, section#gifts{
    background-color: var(--c-secondary);
    position: relative;
    background-image: var(--textura);
    background-size: cover;
    background-position: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: white;
}

section#gallery:before, section#video:before, section#gifts:before{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 11%;
    background-image: var(--forma-top-transparent);
}

section#gallery:after, section#video:after, section#gifts:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 6.5%;
    background-image: var(--forma-down-transparent);
    margin-top: 100px;
    margin-bottom: -1px;
}

section#gallery .my-slider img{
    border-radius: 20px;
}

.tns-controls{
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tns-controls [data-controls="prev"]{
    background-image: url(../../img/templates/pink-glitter/arrow-prev.svg);
}

.tns-controls [data-controls="next"]{
    background-image: url(../../img/templates/pink-glitter/arrow-next.svg);
    right: 0;
}

.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"]{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    height: 65px;
    padding: 0px;
    position: absolute;
    width: 65px;
}

#gallery .container > :last-child{
    padding-left: 5rem;
}

#playlist{
    background-color: #fff;
    color: #000 !important;
    position: relative;
}

#playlist p{
    color: #000!important;
}

#recomendations{
    background-color: var(--c-secondary-light);
}

#recomendations .container h3{
    color: #000;
    text-transform: uppercase;
}

#recomendations .accordion-flush .accordion-item{
    border-radius: 30px;
}

#dresscode{
    color: #000;
    position: relative;
}

#dresscode .dresscode{
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    background-color: var(--c-secondary-light);
    color: #272727 !important;
}

#video{
    color: #000!important;
}

#hashtag{
    background-color: #fff;
    color: #000;
}

#hashtag .hashtag-phrase{
    background-color: var(--c-secondary-light);
    border-radius: 50px;
    color: #272727 !important;
}

#instagram-cumple{
    background-color: var(--c-secondary);
    color: #000;
    position: relative;
}

section#instagram-cumple .bg{
    border-radius: 25px;
    background-color: #fff !important;
}

#instagram-cumple .profile-name{
    color: #000 !important;
}

#instagram-cumple .bg img{
    border-color: var(--c-secondary-light)!important;
}

#instagram-cumple .btn-ig{
    font-weight: bold;
}

#instagram-cumple > div::after{
    
    height: 350px; 
    bottom: 150px;
}

#transport{
    color: #000;
    position: relative;
}

#transport .form-control{
    color: #272727;
    border: 0 !important;
}

section#transport select.rounded-0{
    border-radius: 20px!important;
    border: 0px;
}

#gifts .title, #gifts .row p.text{
    color: #000!important;
}

#gifts{
    color: #000!important;
}

#gifts .pills .rounded-pill{
    border-radius: 10px!important;
}

.nav-pills .nav-link.active{
    background-color: white;
    color: #000;
}

.nav-pills .nav-link{
    color: white;
}

#gifts .tns-item a{
    border-color: #212121 !important;
}

#instagram-filtro{
    color: #212121;
    position: relative;
}

#instagram-filtro .instructions{
    padding: 60px 40px;
    max-width: 650px;
    text-align: center;
}

#instagram-filtro > div::after{
    z-index: -1;
}

#selpix{
    background-color: var(--c-secondary-light);
    color: #212121;
}

#selpix .number{
    background-color: #fff;
    color: var(--brown);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

#confirmation .title, #confirmation .text, #confirmation .checks{
    color: #272727!important;
}

.form-check-input:checked{
    background-color: var(--c-secondary);
    border-color: var(--c-secondary);
}

#greeting{
    background-color: var(--c-primary);
    color: #fff;
    background-image: var(--textura);
    background-size: cover;
    background-position: center;
}

section#greeting .name{
    color: #272727;
    background-color: white;
    border-radius: 40px;
    width: fit-content;
    margin: 17px auto;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#countdown .container .row > div{
    display: grid;
    gap: 10px;
}

section#countdown .justify-content-evenly > div > div:last-child{
    color: #212121;
}
@media screen and (min-width: 900px){
    #gallery .my-slider img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 900px){
    #welcome > div::before{
        width: 150px;
        height: 250px;
        background-size: contain;
    }
    #welcome > div::after{
        width: 150px;
        height: 250px;
        background-size: contain;
    }
    div#welcome:after{
        bottom: 0px;
    }
    #itinerary::before{
        width: 150px;
        height: 350px;
        top: 0;
    }
    #playlist > div::after{
        height: 220px;
        z-index: -1;
    }
    #playlist .container{
        position: relative;
        z-index: 2;
    }
    #video .title {
        font-size: 25px;
    }
    #instagram-cumple > div::after{
        height: 204px;
        bottom: inherit;
        top: 0;
    }
    #itinerary::before, #dresscode::before, #transport::before, #confirmation::before{
        width: 150px;
        height: 250px;
    }
    #dresscode::before{
        z-index: -1;
        bottom: 0;
    }
    #transport::before{
        top: 0;
    }
    #instagram-filtro > div::after{
        width: 150px;
        height: 250px;
    }
    #confirmation::before{
        bottom: 0;
        z-index: -1;
    }
}