@import "_custom.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --c-primary: #b0dbd7;
    --c-secondary: #c9a679;
    --c-secondary-light: #d7c0a3;
    --dark: #262626;
    --gray: #979797;
    --gray-light: #D5D4D4;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

::placeholder {
    color: inherit !important;
}

.c-primary {
    color: var(--c-primary) !important;
}

.c-secondary {
    color: var(--c-secondary) !important;
}

.c-secondary-light {
    color: var(--c-secondary-light) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-gray-light {
    background-color: var(--gray-light) !important;
}

.bg-primary {
    background-color: var(--c-primary) !important;
}

.bg-secondary {
    background-color: var(--c-secondary) !important;
}

.bg-secondary-light {
    background-color: var(--c-secondary-light) !important;
}


* {
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow-x: hidden !important;
    width: 100vw;
    touch-action: pan-y;
}

.bg-dark {
    background-color: #212121;
}

.text-dark {
    color: #212121;
}

.bg-grey {
    background-color: #F6F6F6;
}

.bg-golden {
    background: rgb(233, 195, 90);
    background: linear-gradient(73deg, rgba(233, 195, 90, 1) 0%, rgba(204, 159, 45, 1) 27%, rgba(249, 207, 108, 1) 62%, rgba(179, 128, 11, 1) 100%);
}

.titles {
    font-size: 50px;
}

.btn:hover {
    opacity: 0.5;
}

.diary {
    background-color: #707070;
}

.diary .container {
    max-width: 1000px;
}

.adress .bg-white {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    width: fit-content;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.161));
    transform: rotate(358deg);
}



.soong-book input {
    border: 2px solid #212121;
}

.soong-book label,
.soong-book input,
.dress-code p.text,
.dress-code .text-white,
.album .text-down,
.confirmation label,
.confirmation p,
.confirmation .btn {
    font-family: 'Montserrat', sans-serif;
}

.soong-book .d-block>div {
    text-align: left;
}

.soong-book .leaves-1 {
    top: 13rem;
}

.dress-code h2 {
    font-weight: 700;
}

.dress-code .row .col-md-6>div {
    width: 400px;
}


.album .container {
    max-width: 1000px;
}

.album .countdown .rounded-pill {
    width: 113px;
    height: 113px;

}

.confirmation input,
.confirmation textarea {
    border-radius: 0;
}

.confirmation input::placeholder,
.confirmation input,
.confirmation textarea,
.confirmation textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.confirmation .leaves-6 {
    top: 30rem;
}

.waves {
    top: -32vh;
}

.waves,
.waves2 {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
}

.home .waves {
    top: inherit;
    left: 0;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: white;
    color: #000;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    opacity: 0.7;
    color: white;
}

.tns-controls {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tns-controls [data-controls="prev"],
.tns-controls [data-controls="next"] {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    height: 24px;
    padding: 0;
    position: absolute;
    width: 24px;
    z-index: 2;
}

.tns-controls [data-controls="prev"] {
    background-image: url('https://emidica.com/img/icos/ico-arrow-prev.svg');
    left: -10px;
}

.tns-controls [data-controls="next"] {
    background-image: url('https://emidica.com/img/icos/ico-arrow-next.svg');
    right: -10px;
}

.gallery .tns-controls [data-controls="prev"]{
    left: -30px;
}

.gallery .tns-controls [data-controls="next"]{
    right: -30px;
}

@media (max-width: 576px) {
    .bg-img .leaves-1 {}

    .bg-img .leaves-2 {
        /* top: 0; */
        /* transform: rotate(90deg); */
        /* display: none; */
        /* height: 100%; */
    }

    .titles {
        font-size: 37px !important;
    }

    .adress {
        background-color: #F2EFEB !important;
    }

    .adress .bg-white {
        width: auto;
        margin-bottom: 5rem;
    }

    .adress .bg-white img {
        width: 100%;
    }

    .diary .leaves-1,
    .leaves-2 {
        height: 225px;
    }

    .diary .leaves-1 {
        top: 12rem;
    }

    .diary .leaves-2 {
        bottom: -8rem;
    }

    .diary .countdown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 0;
    }

    .diary .row.text-center {
        justify-content: center;
    }

    .gallery .my-slider {
        flex-direction: column;
        padding: 30px;
    }

    .soong-book .leaves-1 {
        height: 180px;
        top: 1rem;
    }

    .soong-book p,
    .gift p,
    .album p {
        font-size: 20px !important;
        font-weight: 500;
    }

    .soong-book label {
        font-weight: 700;
        font-size: 18px !important;
    }

    .soong-book .h-100 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .dress-code .row {
        gap: 50px;
    }

    .dress-code .row .col-md-6>div {
        width: 100% !important;
    }

    .dress-code .row .col-md-6 {
        width: 100% !important;
    }

    .dress-code .leaves-2 {
        z-index: 1;
        top: 24rem;
    }

    .dress-code .container {
        z-index: 2;
        position: relative;
    }

    .gift .leaves-1 {
        height: 180px;
    }

    .gift .h-100 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .album {
        padding-top: 100px !important;
    }

    .album .leaves-2 {
        top: -4rem;
    }

    .album .line {
        display: none;
    }

    .album .countdown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .album .countdown p.fw-800 {
        font-size: 40px !important;
    }

    .album .countdown p.fw-700 {
        font-weight: 700 !important;
    }

    .confirmation {
        /* padding-top: 100px; */
        padding-bottom: 80px;
    }

    .confirmation .leaves-6 {
        height: 180px;
        top: 0;
    }

    .confirmation label {
        font-size: 18px !important;
    }

    .rectangle {
        height: 40px;
    }

    .waves-2 {
        bottom: -39px;
    }

    .gift .tns-item {
        transform: translateX(-15px);
    }

    .gallery .tns-item {
        padding-right: 15px !important;
        transform: translateX(-15px);
    }

    .gallery .tns-item img {
        max-width: calc(100% - 15px);
    }
    .gallery .tns-controls [data-controls="prev"]{
        left: 0px;
    }
    
    .gallery .tns-controls [data-controls="next"]{
        right: 0px;
    }
}