@import "_custom.css"; @import "_general.css"; @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap'); :root {
    --pink: #F59D9B;
    --green: #A9C4BA;
    --bg-separador: url(../../img/templates/teen/separador.jpg);
    --bg-textura1: url(../../img/templates/teen/textura1.jpg);
}

body {
    font-family: "Poppins", sans-serif;
}

.form-control {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 0.8rem;
    border-radius: 0 !important;
    border-radius: 25px !important;
    min-height: 45px;
}

textarea.form-control {
}

.icon img {
    width: 120px;
    height: 120px;
}

.text-gold {
    color: var(--pink);
}

.bg-gold {
    background-color: var(--pink);
}

.btn-dark {
    --bs-btn-bg: #000;
}

.arrowCta {
    display: block;
    height: 13px;
    width: 13px;
    border: 11px solid transparent;
    transform: rotate(45deg);
    position: relative;
    margin: 3rem auto 0;
}

.arrowCta:after, .arrowCta:before {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.arrowCta:after {
    border-bottom: 3px solid var(--pink);
    border-right: 3px solid var(--pink);
    top: 0;
    left: 0;
    opacity: 1;
    animation: bottom-arrow 1.65s infinite;
}

.arrowCta:before {
    top: 0;
    left: 0;
    border-bottom: 3px solid var(--pink);
    border-right: 3px solid var(--pink);
    animation: top-arrow 1.65s infinite;
}

@keyframes bottom-arrow {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    45% {
        opacity: 0;
        transform: translate(12px, 12px);
    }

    46% {
        opacity: 0;
        transform: translate(-16px, -16px);
    }

    90% {
        opacity: 1;
        transform: translate(-6px, -6px);
    }

    100% {
        opacity: 1;
        transform: translate(-6px, -6px);
    }
}

@keyframes top-arrow {
    0% {
        transform: translate(-6px, -6px);
    }

    35% {
        transform: translate(0, 0);
    }

    90% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.tns-controls {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tns-controls [data-controls="prev"], .tns-controls [data-controls="next"] {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    height: 24px;
    padding: 0;
    position: absolute;
    width: 24px;
}

.tns-controls [data-controls="prev"] {
    background-image: url('https://emidica.com/img/icos/ico-arrow-prev.svg');
}

.tns-controls [data-controls="next"] {
    background-image: url('https://emidica.com/img/icos/ico-arrow-next.svg');
    right: 0;
}

.accordion-button::after {
    filter: grayscale(100%) brightness(10) invert(100%);
}

.accordion-button:not(.collapsed)::after {
    filter: grayscale(100%) brightness(10);
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    box-shadow: none !important;
}

#welcome {
}

#welcome > div {
    background-image: url(../../img/templates/teen/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
}

#welcome .nombre {
    color: #E8C1BA !important;
    font-family: "Meow Script", cursive !important;
    text-transform: initial !important;
    font-size: 70px !important;
    font-weight: 400 !important;
    margin: 0 auto !important;
    max-width: 550px;
    text-align: center;
}

#welcome .edad {
    color: #fff !important;
    font-size: 70px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
    max-width: 550px;
    display: block;
    text-align: center;
}

#welcome .tercera-linea {
    display: none;
}

#welcome .fecha {
    background-color: var(--green);
    border-radius: 40px;
}

@media screen and (max-width: 900px) {
    #welcome > div {
        background-size: 100%;
    }

    #welcome .edad, #welcome .nombre {
        font-size: 12vw !important;
    }
}

#countdown {
    background-color: #707070 !important;
    background-image: var(--bg-textura1);
    background-size: cover;
    background-position: center;
}

section#countdown .fs-sm-48 .pb-3 {
    background-image: url(../../img/templates/teen/dias.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0 !important;
    margin-bottom: 15px;
    font-size: 40px;
}

@media screen and (max-width: 900px) {
    section#countdown .fs-sm-48 .pb-3 {
        width: 120px;
        height: 120px;
        font-size: 30px;
    }
}

section#countdown .text-gold {
    color: white !important;
}

section#hashtag {
    background-color: #F2F2F2;
}

section#hashtag .bg-gold {
    border-radius: 50px;
}

#hashtag .text {
    /* text-transform: uppercase; */
    font-weight: 400;
    margin-top: 5px !important;
    margin-bottom: 30px !important;
}

#schedule {
    background-size: cover;
    background-position: center;
    background-color: #fff;
    color: #212121 !important;
}

#schedule .text {
    /* text-transform: uppercase; */
}

/* Instagram */
#instagram-cumple .title {
    text-transform: uppercase;
    color: white;
}

#instagram-cumple .title {
}

#instagram-cumple .text {
}

#instagram-cumple img {
    border-color: var(--green) !important;
}

/* Filtro */
#instagram-filtro .instructions {
    /* background-color: #F2F2F2; */
    padding: 70px 40px;
    max-width: 650px;
    color: white;
}

#instagram-filtro .title {
    text-transform: uppercase;
    font-size: 30px !important;
    /* color: var(--pink); */
}

#instagram-filtro .text {
    font-size: 16px !important;
    max-width: 480px;
}

#instagram-filtro .instructions .btn {
    background-color: var(--pink) !important;
    color: white;
    font-weight: 500;
    border: 0 !important;
    border-radius: 30px !important;
}

/* Video */
#video {
    background-color: #212121;
    color: white;
    background-size: cover;
    background-position: center;
    background-image: var(--bg-textura1);
}

section#video .title:before {
    display: none;
}

section#video .text {
    /* text-transform: uppercase; */
    display: block;
}

#video .title {
    /* color: var(--pink); */
}

/* Selpix */
#selpix {
    /* background-color: #F2F2F2; */
}

section#selpix .logo {
    display: none;
}

section#selpix .title {
    /* color: var(--pink); */
}

section#selpix .text {
    /* text-transform: uppercase; */
    line-height: 1.8;
    color: #212121;
}

#selpix .btn {
    background-color: #000;
    color: white;
    border-radius: 0;
}

#selpix .number {
    background-color: var(--pink);
    color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

#selpix .status {
    text-transform: uppercase;
}

/* gifts */
#gifts {
    background-size: cover;
    background-position: center;
    background-color: var(--green) !important;
    color: #fff;
    padding-top: 0 !important;
}

section#gifts .title {
}

section#gifts:before {
    content: "";
    height: 25px;
    display: block;
    background-image: var(--bg-separador);
    width: 100%;
    margin-bottom: 45px;
    background-size: cover;
    background-position: center;
}

#gifts .bg-white {
    color: #000;
}

#gifts .pills .rounded-pill {
    border-radius: 10px !important;
}

#gifts .title {
    text-transform: uppercase;
    /* color: var(--pink) !important; */
    font-size: 30px !important;
}

#gifts .text {
    /* text-transform: uppercase; */
    font-weight: 400;
}

.nav-pills .nav-link {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: #000;
}

/* gifts */
#playlist {
    background-color: #707070 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

#playlist .text {
    /* text-transform: uppercase; */
}

@media screen and (max-width: 900px) {
    #playlist {
        background-repeat: repeat;
        background-size: 115%;
    }
}

/* dresscode */
#dresscode {
    /* background-color: #212121; */
    /* color: #fff; */
    background-size: cover;
    background-position: center;
}

#dresscode .title {
    text-transform: uppercase;
    /* color: var(--pink); */
}

#dresscode .bg-gold {
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 30px;
}

#dresscode .btn {
    text-transform: uppercase;
    /* background-color: #fff !important; */
    /* color: #000 !important; */
}

.bg-gray {
    background-color: #969696;
}

/* transport */
#transport {
    /* background-color: #F2F2F2; */
}

section#transport select.rounded-0 {
    border-radius: 20px !important;
}

#transport .title {
    text-transform: uppercase;
    /* color: var(--pink); */
}

#transport .text {
    /* text-transform: uppercase; */
    font-weight: 400;
}

#transport .form-control {
    background-color: var(--pink);
    color: #fff;
    border: 0 !important;
}

#transport .form-control::placeholder {
    color: #fff;
}

#transport .btn {
    background-color: var(--green) !important;
    font-weight: 500;
    text-transform: uppercase;
}

#recomendations {
    background-color: #fff !important;
    background-size: cover;
    background-position: center;
    /* font-family: 'Montserrat'; */
}

section#recomendations .fs-sm-16 {
    font-size: 14px !important;
    background-color: transparent;
    color: white !important;
}

#recomendations .accordion-button::after {
    /* filter: brightness(0) !important; */
}

#recomendations .title {
    text-transform: uppercase !important;
    color: #000 !important;
}

#recomendations .accordion-flush .accordion-item {
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--pink);
    color: white;
}

#confirmation .title {
    color: #fff !important;
    text-transform: uppercase !important;
}

#confirmation .btn-light {
    background-color: var(--green) !important;
    text-transform: uppercase !important;
    color: #fff;
}

#greeting {
    background-color: var(--green);
    color: #fff;
    padding-top: 0 !important;
}

section#greeting:before {
    content: "";
    height: 25px;
    display: block;
    background-image: var(--bg-separador);
    width: 100%;
    margin-bottom: 45px;
    background-size: cover;
    background-position: center;
}

section#confirmation {
    background-size: cover;
    background-position: center;
    background-image: var(--bg-textura1);
}

section#confirmation .title:before {
    display: none;
}

section#confirmation .text {
    /* text-transform: uppercase; */
    font-weight: 400;
}

section#confirmation .btn {
    /* background-color: #fff !important; */
    /* color: #212121; */
}

/* Gallery */
@media screen and (min-width: 900px) {
    #gallery img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}

#itinerary {
    padding-top: 0 !important;
    background-color: #fff !important;
}

section#itinerary .flex-fill p {
    margin: 0;
    font-weight: 500;
}

section#itinerary .text-gold {
    color: #000;
    font-size: 30px !important;
}

section#itinerary .fs-sm-21 {
    font-size: 18px !important;
}

section#itinerary .text-gold:after {
    content: "";
    display: block;
    background-color: var(--pink) !important;
    height: 5px;
    border-radius: 5px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#itinerary .bg-img {
    border-radius: 25px;
    border: 10px solid #E8E8E8;
}

#itinerary:before {
    content: "";
    background-image: var(--bg-separador);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 60px;
}

.btn {
    background-color: var(--green) !important;
    border-radius: 40px !important;
    border: 0;
}

section#gallery {
    background-color: var(--green);
    padding-bottom: 0 !important;
}

section#gallery:after {
    content: "";
    background-image: var(--bg-separador);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 90px;
}

section#gallery img {
    border-radius: 10px;
}

section#instagram-cumple {
    background-image: var(--bg-textura1);
    color: white;
}

section#instagram-cumple .bg-black {
    border-radius: 25px;
    background-color: #fff !important;
}

section#instagram-cumple .profile-name {
    color: #000 !important;
    font-weight: 400;
}

section#instagram-cumple .btn-ig {
    color: white;
}

section#instagram-filtro {
    background-color: var(--green);
    padding-top: 0 !important;
}

section#instagram-filtro:before {
    content: "";
    height: 25px;
    display: block;
    background-image: var(--bg-separador);
    width: 100%;
    margin-bottom: 45px;
    background-size: cover;
    background-position: center;
}
